* {
    box-sizing: border-box;
    }
ul{
     list-style: none;
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
    }
a{
    text-decoration:none;
}
img{
    display: block;
}
p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

head{
    font-family: "Roboto", sans-serif ;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.container{
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-conteiner{
    display: flex;
    width: 1158px;
    align-items: center;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-logo{
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-right: 76px;
}

.accent-header{
    color: #2e2f42;
}

.header-menu-list{
    display: flex;
    gap: 40px;
}

.active-menu-link::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-menu-link{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover{
    color: #404bbf;
}

.header-menu-link:focus{
    color: #404bbf
}

.active-menu-link{
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adderes{
    font-style: normal;
    display: flex;
    margin-left: auto; 
}

.addres-menu-list{
    display: flex;
    gap: 40px;
}

.addres-menu-item{
    
}

.addres-item-link{
    line-height: 1.5;
    color:#434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-item-link:hover{
    color: #404bbf
}

.addres-item-link:focus{
    color: #404bbf
}

.main-header{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;
}

.service{
    background:  #2e2f42;
    background-image:  linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    background-size: cover;
}

.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    min-width: 169px;
    height: 56px;;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover{
    background-color: #404BBF
}

.button:focus{
    background-color: #404BBF
}

.features-item-img-conteiner{
    background-color: #F4F4FD;
    margin-bottom: 8px;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}

.features{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-menu-list{
    display: flex;
    gap: 24px;
}

.features-menu-item{
    width: calc((100% - 72px) / 4);
}

.features-item-img{
}

.features-item-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);
}

.feature-item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-container{
    padding: 32px 0;
}

.team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin: 120 639 572 639;
}

.team-menu-list{
    display:flex;
    gap: 24px;
}

.team-menu-item{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-soc-menu{
    padding: 8px 16px 0;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-soc-link{
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover{
    background-color: #404bbf;
}
.team-soc-link:focus{
    background-color: #404bbf;
}

.team-soc-img{
    fill:#f4f4fd;
}
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-conteiner{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top:none;
}
.portfolio-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-menu-list{
    display:flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-menu-item{
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-menu-item:hover{
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-cover-wrapper{
    position: relative;
    overflow: hidden;
}

.img-cover-wrapper{
    
}

.portfolio-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item-text-hov{
    position: absolute;
    background: #4D5AE5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item:hover .portfolio-item-text-hov{
    transform: translate(0);
    transition: transform 250ms ease;
}

footer{
    font-family: "Roboto", sans-serif;
    background-color: #2e2f42;
}

.footer{
    padding: 100px 0;
}

.footer-list{
    display: flex;
    gap: 120px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase ;
    color:#4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-conteiner{
    display: flex;
    align-items: baseline;
}
.accent-footer{
    color:#f4f4fd;
}

.footer-description{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    max-width: 264px;
    font-weight: 500;
}

.footer-soc-description{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    max-width: 264px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px; 
}

.footer-main-conteiner{
    margin-right: 120px;
}

.footer-soc-menu{
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

.footer-soc-link{
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover{
    background-color: #31D0AA;
}

.footer-soc-link:focus{
    background-color: #31d0aa;
}

.footer-soc-img{
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}

.footer-form-conteiner{
    margin-left: 80px;
    gap: 24px;
}

.footer-form-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form{
    display: flex;
    gap: 24px;
}

.footer-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-input::placeholder{
    color: #ffffff;
}

.footer-form-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-left: 24px;
}

.footer-form-button-img{
    margin-left: 16px;
    fill: #FFFFFF;
}

.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
}

.modal{
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    box-shadow: 
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close{
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;;
    position: absolute;
    border: none;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-img{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover{
    border-radius: 100%;
    fill: #FFFFFF;
    background-color: #404bbf;
    border: none;
}

.modal-close:focus{
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field{
    margin-bottom: 8px;
    position: relative;
}

.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}


.modal-field-input{
    position: relative;
}

.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4d5ae5;
}

.modal-input:hover{
    border-color: #4d5ae5;
}

.modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon{
    fill: #4D5AE5;
}

.modal-input:hover + .modal-icon{
    fill: #4D5AE5;
}

.modal-field-checkbox{
    margin-bottom: 24px;
}

.modal-field-comment{
    margin-bottom: 16px;
}

.modal-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus{
    border-color: #4D5AE5
}

.modal-textarea:hover{
    border-color: #4D5AE5
}

.modal-check-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-check-link{
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.modal-check-icon{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent; 
}

.modal-check:checked + .modal-check-text span{
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}

.send{
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin: 24px 96px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.send:hover{

}

